:root {
    --bg-color: #232946;
    --link-color: #b8c1ec;
    --link-hover-color: #1C2245;
    --text-color: #dfdfdf;
    --indicator-bg-color: #bf959b;
    --indicator-text-color: #000;
    --indicator-shadow-color: transparent;
    --side-menu-bg-color: #1C2245;
    --heading-color: #b8c1ec;
    --btn-bg: #b8c1ec;
    --btn-color: #1C2245;
    --btn-bg-hover: #bf959b;
    --shadow-color: #121629;
    --btn-shadow-color: transparent;
    --project-name-bg: #5a4a4c;
    --links-color: #cccccc;
}
.header__logo__img {
    filter: invert(1);
}
.header__theme-switcher__button {
    filter: invert(1);
    font-weight: bold;
}
.footer__socials__icon {
    filter: invert(1);
}