:root {
    --bg-color: #fff;
    --link-color: #000;
    --link-hover-color: rgba(0, 0, 0, 0.1);
    --text-color: #000;
    --indicator-bg-color: rgba(0, 0, 0, 0.1);
    --indicator-text-color: #0d0d0d;
    --indicator-shadow-color: rgba(0, 0, 0, 0.1);
    --side-menu-bg-color: #f2f2f2;
    --heading-color: #0d0d0d;
    --btn-bg: #418ACA;
    --btn-color: #fff;  
    --btn-bg-hover: #0468BF;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --btn-shadow-color: #ccc;
    --project-name-bg: rgba(0, 0, 0, 0.1);
    --links-color: #cccccc;
    --success: #198754;
}