@media (min-width: 580px) {
    .header__menu__list {
        display: flex;
        align-items: center;
        position: static;
        height: auto;
    }
    .header__logo__img {
        height: 50px;
    }
    .header__menu__touch {
        display: none;
    }
    
    .header__menu__list {
        position: initial;
        flex-direction: row;
        background-color: transparent;
        width: auto;
        padding: 0;
        box-shadow: none;
    }
    .header__menu__item {
        margin: 0 5px;
        border: none;
    }
    .header__menu__item:last-of-type {
        border: none;
    }
    .header__menu__link {
        padding: 5px;
        border-radius: 5px;
    }
    .footer__socials__item:hover {
        width: 300px;
        max-width: 210px;
        padding-right: 10px;
    }
    .footer__socials__item:last-of-type:hover {
        width: 320px;
        max-width: 320px;
        padding-right: 10px;
    }
    
    
    .footer__socials__item:hover .footer__socials__span {
        width: auto;
    }
    
}
@media (min-width: 770px) {
    .wrapper {
        width: 740px;
    }
    .work {
        grid-template-columns: repeat(2, 1fr);
    }
    .work:nth-of-type(2n-1) .work__picture{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .work:not(:last-of-type)::after {
        grid-column: 1 / 3;
    }
    .about-section {
        flex-direction: row;
    }
    .about__left {
        width: 40%;
    }
    .about__right {
        width: calc(60% - 15px);
    }
    .footer__wrapper {
        flex-direction: row;
    }
    .footer__socials__item:last-of-type:hover {
        max-width: 280px;
    }
    .footer__socials__item:hover .footer__socials__span:last-of-type {
        letter-spacing: -1px;
    }
}
@media (min-width: 990px) {
    .wrapper {
        width: 960px;
    }
    .header__theme-switcher__button {
        font-size: 1rem;
        padding: 10px;
        padding-left: 40px;
    }

    .skills-section__image {
        height: 500px;
        width: auto;
    }
    .skills__me__eye {
        display: block;
        position: absolute;
        z-index: 10;
        width: 16.55px;    
        top: 130px;
        left: 50%;
    }
    .skills__me__right-eye {
        transform: translateX(calc(48px + var(--eyes-shift)));
        top: 131px;
    }
    .skills__me__left-eye {
        transform: translateX(calc(-13px + var(--eyes-shift)));
    }
    .skills-section {
        padding: 0;
        border-bottom: var(--indicator-bg-color) solid 1px;
    }
    .skills__skill {
        position: absolute;
        background-color: transparent;
    }
    .skills-section__image {
        margin-bottom: 0;
    }
    .skills__skill:nth-of-type(1) {
        font-size: 3rem;
        left: 200px;
        top: 0;
    }
    .skills__skill:nth-of-type(2) {
        font-size: 3rem;
        right: 200px;
        top: 50px;
    }
    .skills__skill:nth-of-type(3) {
        font-size: 3rem;
        left: 30px;
        top: 110px;
    }
    .skills__skill:nth-of-type(4) {
        font-size: 2.5rem;
        left: 110px;
        top: 230px;
    }
    .skills__skill:nth-of-type(5) {
        font-size: 2.5rem;
        right: 100px;
        top: 150px;
    }
    .skills__skill:nth-of-type(6) {
        font-size: 2rem;
        right: 50px;
        top: 250px;
    }
    .skills__skill:nth-of-type(7) {
        font-size: 2.5rem;
        right: 90px;
        top: 300px;
    }
    .skills__skill:nth-of-type(8) {
        font-size: 2rem;
        left: 80px;
        top: 350px;
    }
    .skills__skill:nth-of-type(9) {
        font-size: 2rem;
        right: 140px;
        top: 10px;
    }
    .skills__skill:nth-of-type(10) {
        font-size: 1.5rem;
        right: 150px;
        top: 220px;
    }
    .skills__skill:nth-of-type(11) {
        font-size: 1.5rem;
        left: 40px;
        top: 300px;
    }
    .skills__skill:nth-of-type(12) {
        font-size: 1.8rem;
        right: 150px;
        top: 380px;
    }
    .skills__skill:nth-of-type(13) {
        font-size: 1.5rem;
        left: 100px;
        top: 70px;
    }
    .skills__skill:nth-of-type(14) {
        font-size: 1.8rem;
        right: 70px;
        top: 100px;
    }
    .skills__skill:nth-of-type(15) {
        font-size: 2rem;
        left: 270px;
        top: 190px;
    }
    .works-section {
        z-index: 20;
    }
    
    .work__footer {
        text-align: center;
    }
    .work__link {
        width: auto;
    }
    .footer__socials__item:last-of-type:hover {
        max-width: 320px;
    }
    .footer__socials__item:hover .footer__socials__span:last-of-type {
        letter-spacing: 0;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        width: 1170px;
    }
    .skills__skill:nth-of-type(1) {
        left: 250px;
        top: 50px;
    }
    .skills__skill:nth-of-type(2) {
        right: 300px;
        top: 100px;
    }
    .skills__skill:nth-of-type(3) {
        left: 80px;
        top: 200px;
    }
    .skills__skill:nth-of-type(4) {
        left: 130px;
        top: 290px;
    }
    .skills__skill:nth-of-type(5) {
        right: 240px;
        top: 200px;
    }
    .skills__skill:nth-of-type(6) {
        right: 80px;
        top: 190px;
    }
    .skills__skill:nth-of-type(7) {
        right: 120px;
        top: 270px;
    }
    .skills__skill:nth-of-type(8) {
        left: 100px;
        top: 400px;
    }
    .skills__skill:nth-of-type(9) {
        right: 190px;
        top: 50px;
    }
    .skills__skill:nth-of-type(10) {
        right: 180px;
        top: 350px;
    }
    .skills__skill:nth-of-type(11) {
        left: 290px;
        top: 330px;
    }
    .skills__skill:nth-of-type(12) {
        right: 150px;
        top: 400px;
    }
    .skills__skill:nth-of-type(13) {
        left: 150px;
        top: 120px;
    }
    .skills__skill:nth-of-type(14) {
        right: 190px;
        top: 150px;
    }
    .skills__skill:nth-of-type(15) {
        left: 340px;
        top: 160px;
    }
}
@media (min-width: 1400px) {
    .wrapper {
        width: 1370px;
    }
    .skills-section {
        height: 700px;
    }
    .skills-section__image {
        height: 700px;
    }
    .skills__me__eye {
        width: 23.2px;
        top: 181px;
    }
    .skills__me__left-eye {
        transform: translateX(calc(-20px + var(--eyes-shift)));
    }
    .skills__me__right-eye {
        top: 183px;
        transform: translateX(calc(66px + var(--eyes-shift)));
    }
    .skills__skill:nth-of-type(1) {
        font-size: 3rem;
        left: 400px;
        top: 50px;
    }
    .skills__skill:nth-of-type(2) {
        font-size: 3rem;
        right: 400px;
        top: 100px;
    }
    .skills__skill:nth-of-type(3) {
        font-size: 3rem;
        left: 150px;
        top: 200px;
    }
    .skills__skill:nth-of-type(4) {
        font-size: 2.5rem;
        left: 380px;
        top: 280px;
    }
    .skills__skill:nth-of-type(5) {
        font-size: 2.5rem;
        right: 300px;
        top: 200px;
    }
    .skills__skill:nth-of-type(6) {
        font-size: 2rem;
        right: 400px;
        top: 300px;
    }
    .skills__skill:nth-of-type(7) {
        font-size: 2.5rem;
        right: 200px;
        top: 350px;
    }
    .skills__skill:nth-of-type(8) {
        font-size: 2rem;
        left: 260px;
        top: 400px;
    }
    .skills__skill:nth-of-type(9) {
        font-size: 2rem;
        right: 180px;
        top: 60px;
    }
    .skills__skill:nth-of-type(10) {
        font-size: 1.5rem;
        right: 150px;
        top: 300px;
    }
    .skills__skill:nth-of-type(11) {
        font-size: 1.5rem;
        left: 200px;
        top: 350px;
    }
    .skills__skill:nth-of-type(12) {
        font-size: 1.8rem;
        right: 300px;
        top: 430px;
    }
    .skills__skill:nth-of-type(13) {
        font-size: 1.5rem;
        left: 200px;
        top: 120px;
    }
    .skills__skill:nth-of-type(14) {
        font-size: 1.8rem;
        right: 170px;
        top: 150px;
    }
    .works {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
    .work {
        grid-template-columns: 1fr;
        max-width: calc(33% - 10px);
        margin-bottom: 0;
        align-content: flex-start;
    }
    .work:nth-of-type(2n-1) .work__picture {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .work:nth-of-type(4),.work:nth-of-type(5) {
        max-width: calc(50% - 10px);
    }
}
@media (min-width: 1900px) {
    .skills-section__image {
        left: 50%;
    }
    .skills__me__left-eye {
        transform: translateX(calc(-22px + var(--eyes-shift)));
    }
    .skills__me__right-eye {
        transform: translateX(calc(65px + var(--eyes-shift)));
    }
    .wrapper {
        width: 1870px;
    }
    .skills__skill:nth-of-type(1) {
        left: 550px;
    }
    .skills__skill:nth-of-type(2) {
        right: 550px;
    }
    .skills__skill:nth-of-type(3) {
        left: 380px;
    }
    .skills__skill:nth-of-type(4) {
        left: 500px;
    }
    .skills__skill:nth-of-type(5) {
        right: 450px;
    }
    .skills__skill:nth-of-type(6) {
        right: 350px;
    }
    .skills__skill:nth-of-type(7) {
        right: 450px;
    }
    .skills__skill:nth-of-type(8) {
        left: 510px;
    }
    .skills__skill:nth-of-type(9) {
        right: 490px;
    }
    .skills__skill:nth-of-type(10) {
        right: 500px;
    }
    .skills__skill:nth-of-type(11) {
        left: 390px;
    }
    .skills__skill:nth-of-type(12) {
        right: 500px;
    }
    .skills__skill:nth-of-type(13) {
        left: 450px;
    }
    .skills__skill:nth-of-type(14) {
        right: 390px;
    }
}